{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ main_siteurl }}/theme/libs/fullcalendar/main.css"/>
{% endblock extra_css %}

{% block extra_script %}

<script src="{{ main_siteurl }}/theme/libs/fullcalendar/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'resourceTimeGridTwoDay',
            initialDate: '2020-09-07',
            editable: false,
            selectable: false,
            dayMaxEvents: true,
            dayMinWidth: 200,
            headerToolbar: {
                left: 'prev,next today',
                right: 'resourceTimeGridDay,resourceTimeGridTwoDay,resourceTimeGridWeek,dayGridMonth'
            },
            views: {
                resourceTimeGridTwoDay: {
                    type: 'resourceTimeGrid',
                    duration: { days: 2},
                    buttonText: '2 days',
                }
            },

            allDaySlot: false,
            resources: {{ EVENT_TRACKS|safe }},
            events: {{ EVENT_TALKS|safe }}
        });

        calendar.render();
    });
</script>

{% endblock extra_script %}


{% block content %}
    <div id='calendar'></div>
{% endblock content %}
