@charset "utf-8";

$primary: #2F7494;
$info: #3DADE0;
$link: #3DADE0;
$success: #3DADE0;
$warning: #E03D52;
$danger: #E03D52;

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat&display=swap');

@import "../libs/bulma/bulma.sass";
@import "../libs/bulma/bulma-timeline.sass";

h1, h2, h3, h4, h5 {
  font-family:  'Arvo', serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 1.3rem;
}


.message-body {
  .subtitle {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  h1 {
    @extend .subtitle, .is-2;
  }

  h2 {
    @extend .subtitle, .is-3;
  }

  h3 {
    @extend .subtitle, .is-4;
  }

  h4 {
    @extend .subtitle, .is-5;
  }

  h5 {
    @extend .subtitle, .is-6;
    font-weight: bold;
  }

  h6 {
    @extend .subtitle, .is-6;
  }

  p {
    margin-top: 6px;
  }

  figure {
    margin: 25px !important;
  }

  ol, ul {
    margin-inline-start: 50px;
    list-style-type: disc;

    li {
      margin-top: 6px;
    }
  }

  .table {
    margin: 25px !important;
    padding: 5px !important;
  }

  table {
    @extend .table;
  }

  .image {
    @extend .has-text-centered;
    background: $white-ter;
    min-width: 214px;
    margin: 0 auto !important;

    figcaption {
      color: $grey-darker;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 4px;
      padding-bottom: 4px;
    }

    img {
      display: inline-block;
    }
  }
}

.image-centered {
  text-align: center;
}

.keynoters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 0.5em;
}

.gold-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 0.5em;
}

.silver-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 0.5em;
}

.metal-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5em;
}


.card {
  height: max-content;
}

#map {
  width: 100% !important;
  height: 400px;
  margin-bottom: 50px;
}

.fc .fc-toolbar-title{
  font-size: 1rem !important;
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #efe7e7;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #dededc;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
